@import '../../less/_variables.less';

.to-do-item {
  padding: 2rem 3rem;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: @color-background;
  border-radius: 10px;
  position: relative;

  &.completed {
    text-decoration: line-through;
  }

  &.expired {
    color: @color-expired;
  }
}

.to-do-item__title {
  font-size: 2rem;
}

.to-do-item__actions {
  height: 80%;
  display: flex;
  background-color: @color-beige;
  position: absolute;
  top: 10%;
  right: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 4rem;
  transition: width 0.5s ease-in-out;

  svg {
    height: 3rem;
    cursor: pointer;
    width: 0;
    margin: 0;
    transition: width 0.3s ease-in-out 0.3s;

    &:nth-last-of-type(1) {
      width: 3rem;
      margin: 0 0.5rem;
    }
  }

  &:hover {
    width: 15rem;

    svg {
      width: 3rem;
      margin: 0 0.5rem;
    }
  }
}
